.image {
    height: 300px;

    width: 30%;
    float: left;
    margin: 1.66%;
    background-size: cover;
    background-position: center center;
}		
.image1{
	background-image: url("http://c1.staticflickr.com/9/8450/8026519634_f33f3724ea_b.jpg");
	
}
.image2{
	background-image: url(http://c2.staticflickr.com/8/7218/7209301894_c99d3a33c2_h.jpg);
}
.image3{
	background-image: url(http://c2.staticflickr.com/8/7231/6947093326_df216540ff_b.jpg);
}
.image4{
	background-image: url(http://c1.staticflickr.com/9/8788/17367410309_78abb9e5b6_b.jpg );
}
.image5{
	background-image: url(http://c2.staticflickr.com/6/5814/20700286354_762c19bd3b_b.jpg );
}
.image6{
	background-image: url(http://c2.staticflickr.com/6/5647/21137202535_404bf25729_b.jpg);
}
.image7{
	background-image: url(http://c2.staticflickr.com/6/5647/21137202535_404bf25729_b.jpg);
}
.image8{
	background-image: url(http://c2.staticflickr.com/4/3888/14878097108_5997041006_b.jpg);
}
.image9{
	background-image: url(http://c2.staticflickr.com/4/3888/14878097108_5997041006_b.jpg);
}
.text{
	font-family: 'Source Code Pro', monospace;
	text-transform: uppercase;
	border-bottom: 3px solid ;
    width: 25%;
    padding: 20px;
}